In [27]:
#import pandas library
import pandas as pd

In [40]:
#read excel file based on individual sheet name
my_file  = pd.read_excel("dataset.xls","Table 15.1",index ="False")

#Removing the rows and columns that are empty, that contains only NaN values
my_file = my_file.dropna(0, how = 'all')
my_file = my_file.dropna(1, how = 'all')


#drop the rows that are not necessary
my_file  = my_file.drop(my_file.index[0:9])
my_file  = my_file.drop(my_file.index[1:92])

#reset the row index
my_file.index = range(len(my_file.index))

#drop columns that are not necessary
my_file  = my_file.drop(['Australian Bureau of Statistics','Unnamed: 6'],1,inplace=True)

#renaming columns with proper names
#my_file  = my_file.rename(columns = { 'Australian Bureau of Statistics':'Expenditure','Unnamed: 1':'Income = 600$', 'Unnamed: 2':'Income = 1200$','Unnamed: 3':'Income = 1700$', 'Unnamed: 4':'Income = 2400$', 'Unnamed: 5':'Income = 4400$'})

#appending food wastage row to the csv file
#my_file = my_file.append([{'Expenditure':'Food Wastage','Income = 600$':29.662, 'Income = 1200$':40.952, 'Income = 1700$':51.284, 'Income = 2400$':54.868, 'Income = 4400$':69.616}],ignore_index=True)

#result_csv = my_file.to_csv("dataset.csv",index = "False")

ValueError: labels ['Australian Bureau of Statistics'] not contained in axis

In [37]:
my_file.head()

,Australian Bureau of Statistics,Expenditure,Income = 1200$,Income = 1700$,Income = 2400$,Income = 4400$,Income = 600$
0,Food and non-alcoholic beverages,NaN,204.76,256.42,274.34,348.08,148.31
1,NaN,Food Wastage,40.952,51.284,54.868,69.616,29.662

In [ ]:



#columns unnecessary are dropped


#columns are renamed
#
#my_file = pd.DataFrame(my_file)
#


#result_csv = my_file.to_csv("dataset.csv",index = "False")